# Ignore vscode settings
*.vscode

# Ignore the compiled files
*.bc
*.ll
*.o
*.exe

# Ignore any logs and builds
logs
*.log
bin
obj
builds

# Ignore my note folders
notes
examples_for_me

# Ignore sl files outside of examples folder
*.sl
!examples/*.sl

# Ignore environment configuration
*.env